.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background-color: black; /* Assuming your background is black */
    color: white; /* Text color for visibility */
    padding: 20px;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

.bigContentContainer {
    display: flex;
    flex-direction: row; /* Aligns the components horizontally */
    margin-top: 40px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align children to the top */
    flex: 2; /* Adjust as necessary */
    padding: 0 0px; /* Add some padding if needed */
}

.dictionaryManagerContainer {
    flex: 1; /* Takes less space */
    margin-right: 20px; /* Spacing between the components */
    overflow-y: auto; /* Scrollbar if the content is too long */
    max-height: calc(100vh - 130px); /* Adjust the max height to account for header and padding */
}

.crosswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    position: sticky;
    max-height: calc(100vh - 130px); /* Adjust the max height to account for header and padding */
    overflow-y: auto; /* Scrollbar if the content is too long */
    top: 120px; /* Adjust if necessary to account for header height */
}
